/* sidebar.component.css */
.sidebar {
    width: 250px;
    background-color: #00823b;
    padding: 20px;
    position: fixed;
    height: 100%;
    transition: width 0.3s;
  }
  
  .sidebar.collapsed {
    width: 80px;
  }
  
  .sidebar.collapsed ul li a span {
    display: none; /* Esconde el texto cuando está colapsado */
  }
  
  .sidebar.collapsed ul li {
    text-align: center; /* Centro los íconos */
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 10px 0;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .sidebar a mat-icon {
    margin-right: 10px;
  }
  
  .sidebar.collapsed a mat-icon {
    margin-right: 0;
  }
  