<app-header></app-header>

<!-- sidebar.component.html -->
<nav class="sidebar">
    <ul>
      <li>
        <a href="#/tareas">
          <mat-icon>check_circle</mat-icon>
          Tareas
        </a>
      </li>
      <li>
        <a href="#/revisiones">
          <mat-icon>history</mat-icon>
          Revisiones
        </a>
      </li>
      <li>
        <a href="#/calendarios">
          <mat-icon>calendar_today</mat-icon>
          Calendarios de Ausencias
        </a>
      </li>
      <li>
        <a href="#/perfil">
          <mat-icon>person</mat-icon>
          Mi Perfil
        </a>
      </li>
      <li>
        <a href="#/equipo">
          <mat-icon>group</mat-icon>
          Mi equipo
        </a>
      </li>
      <li>
        <a href="#/organigramas">
          <mat-icon>account_tree</mat-icon>
          Organigramas
        </a>
      </li>
      <li>
        <a href="#/informes">
          <mat-icon>bar_chart</mat-icon>
          Informes y Analíticas
        </a>
      </li>
      <li>
        <a href="#/contactos">
          <mat-icon>contacts</mat-icon>
          Lista de contactos
        </a>
      </li>
      <li>
        <a href="#/tareas">
          <mat-icon>assignment</mat-icon>
          Lista de Tareas
        </a>
      </li>
      <li>
        <a href="#/administracion">
          <mat-icon>settings</mat-icon>
          Administración
        </a>
      </li>
    </ul>
  </nav>
  