<!-- header.component.html 
<mat-toolbar color="primary">
  <mat-toolbar-row>
  <button mat-icon-button class="hamburger" (click)="toggleNavbar()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="navbar" [class.collapsed]="navbarCollapsed">
    <button mat-button><mat-icon>dashboard</mat-icon>Dashboard</button>
    
    <button mat-button [matMenuTriggerFor]="menuEmpleados"><mat-icon>people</mat-icon>Empleados</button>
    <mat-menu #menuEmpleados="matMenu">
      <button mat-menu-item (click)="empleados()"><mat-icon>people</mat-icon>Consultar Empleados</button>
      <button mat-menu-item (click)="addempleado()"><mat-icon>add_circle</mat-icon>Crear Empleado</button>
      <button mat-menu-item><mat-icon>restore</mat-icon>Recuperar Empleados</button>
      <button mat-menu-item><mat-icon>assessment</mat-icon>Historial Empleados</button>
      <button mat-menu-item><mat-icon>library_books</mat-icon>Reportes</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menuDepartamentos"><mat-icon>business</mat-icon>Departamentos</button>
    <mat-menu #menuDepartamentos="matMenu">
      <button mat-menu-item (click)="departamentos()"><mat-icon>list_alt</mat-icon>Consultar Departamentos</button>
      <button mat-menu-item><mat-icon>library_books</mat-icon>Reportes</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menuPuestos"><mat-icon>assignment</mat-icon>Puestos</button>
    <mat-menu #menuPuestos="matMenu">
      <button mat-menu-item (click)="puestos()"><mat-icon>list_alt</mat-icon>Consultar Puestos</button>
      <button mat-menu-item><mat-icon>library_books</mat-icon>Reportes</button>
    </mat-menu>
  </div>



    <span class="spacer"></span>


    <button mat-button (click)="openDialog()"><mat-icon>exit_to_app</mat-icon>Cerrar sesión</button>
  
</mat-toolbar-row>
</mat-toolbar>
-->

<header class="header bg-primary text-white">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <button class="hamburger-button" (click)="toggleSidebar()">
      &#9776; <!-- Ícono de hamburguesa -->
    </button>
    <div class="logo">
      <img src="https://quesossnroque.com/img/logh.png" alt="Logo" class="img-fluid">
    </div>
    <div class="search-bar d-flex align-items-center">
      <input type="text" class="form-control" placeholder="Buscar" />
      <button type="button" class="btn btn-light ml-2">Búsqueda</button>
    </div>
    <div class="user-info d-flex align-items-center">
      <span class="mr-2">Luis Antonio Ortiz</span>
      <img src="" alt="User Profile" class="rounded-circle">
    </div>
    <button mat-button color="accent" (click)="logout()"><mat-icon>exit_to_app</mat-icon>Cerrar sesión</button>
  </div>
</header>






