
  /* styles.css o en el archivo CSS de tu componente */
  /*
  mat-toolbar {
    background-color: #00823b; /* Ajusta el color de fondo */
  /*  color: white;
    margin-right: 8px; /* Espacio entre el ícono y el texto */
  /*vertical-align: middle; /* Alinea verticalmente el ícono con el texto */
  /*}
  
  .spacer {
    flex: 1 1 auto;
  } aqui*/

/* styles.css o en el archivo CSS de tu componente */
/* styles.css o en el archivo CSS de tu componente */
mat-toolbar {
  background-color: #00823b; /* Ajusta el color de fondo */
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.navbar {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  white-space: nowrap;
  transition: max-height 0.3s ease-out;
}

.navbar button {
  margin: 4px;
  flex: 0 0 auto;
}

.hamburger {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

@media (max-width: 800px) {
  .hamburger {
    display: block;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 0;
    overflow: hidden;
    width: 100%;
  }

  .navbar button {
    width: 100%;
    text-align: left;
  }

  .navbar.collapsed {
    max-height: 500px; /* Ajusta según la altura de tu contenido */
  }

  .spacer {
    display: none;
  }
  
}





