/* styles.css o en el archivo CSS de tu componente */

mat-toolbar {
  background-color: #00823b; /* Ajusta el color de fondo */
  color: white;
}

.mat-toolbar-row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  white-space: nowrap;
  transition: max-height 0.3s ease-out;
}

.navbar button {
  margin: 4px;
  flex: 0 0 auto;
}

.hamburger {
  display: none;
}

.spacer {
  flex: 1;
}

@media (max-width: 800px) {
  .hamburger {
    display: block;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 0;
    overflow: hidden;
    width: 100%;
  }

  .navbar button {
    width: 100%;
    text-align: left;
  }

  .navbar.collapsed {
    max-height: 500px; /* Ajusta según la altura de tu contenido */
  }

  .spacer {
    display: none;
  }
}



/*
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00823b;
  color: white;
  padding: 10px 20px;
}

.header .logo a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.header .login-section {
  display: flex;
  gap: 5px;
}

.header .login-section button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.header .login-section button:hover {
  background-color: #0056b3;
}

@media (max-width: 800px) {
  .header .login-section {
    flex-direction: column; /* Cambia la disposición a una columna */
 /*   align-items: center; /* Alinea los botones al centro */
/*    width: 100%; /* Opcional: Ajusta el ancho al 100% del contenedor padre */
 /* }

  .header {
    flex-direction: column; /* Ajusta también el contenedor principal a columna */
 /*   align-items: center;
  }
}
*/