<p-toast />
<p-card>

  
  <div style="display: flex; justify-content: flex-start;">
    <button [routerLink]="['/system/consultarcapacitaciones']" class="agregar"
    mat-raised-button 
    color="accent">
    <mat-icon>keyboard_return</mat-icon>Regresar Calendario
  </button>
  </div>
</p-card>

    <div class="form-section">
      <p-card>
        <h2>Formulario Nueva Programación</h2>
  
        <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">

          <div class="container">
            <div class="box1">
          
          
              <div style="display: flex; justify-content: space-between; align-items: center; margin: 20px 0;">

                <div style="margin: 0 10px; padding-bottom: 7px; padding-left: 5%; font-size: 14px; text-align: center;">
                  <label for="cp-hex" class="font-bold block mb-2">Elige El Color de la Capacitación*:</label>
                  <div style="text-align: center;">
                    <ngx-colors ngx-colors-trigger formControlName="Color"></ngx-colors>
                  </div>
                </div>
              
                <div style="margin: 0 10px; padding-bottom: 7px; font-size: 14px; padding-right: 6%; padding-left: 6%; text-align: center;">
                  <label for="ny" class="font-bold block mb-2">¿Capacitación con Evaluación?</label>
                  <div style="text-align: center;">
                    <mat-checkbox id="ny" color="primary" formControlName="Evaluacion"></mat-checkbox>
                  </div>
                </div>

                <div style="margin: 0 20px; padding-bottom: 7px; font-size: 14px; padding-right: 20%; text-align: center;">

                  <div *ngIf="selectedFrecuencia === 'Seleccion de Dias'">
                    <label class="font-bold block mb-2" for="horas">
                      Horas Capacitacion x Dia*
                  </label>
                  </div>
                  <div *ngIf="selectedFrecuencia !== 'Seleccion de Dias'">
                    <label class="font-bold block mb-2" for="horas">
                      Total Horas Capacitacion*
                  </label>
                  </div>
                
                  <div >
                    <p-inputNumber
                    formControlName="Horas"
                [showButtons]="true" 
                id="horas"
                [step]="0.5"
                suffix=" Horas"
                />
                  </div>
                </div>
              </div>

              

              
                
      

              <mat-form-field class="form-field" appearance="fill" color="primary">
                <mat-label>Nombre Capacitacion</mat-label>
                <input matInput formControlName="NombreCapacitacion">
              </mat-form-field>


             
              
    
                
            <mat-form-field class="form-field" appearance="fill" color="primary">
              <mat-label>Tipo</mat-label>
              <mat-select formControlName="Origen">
                  <mat-option *ngFor="let val of origen" [value]="val">{{val}}</mat-option>
              </mat-select>
          </mat-form-field>
    
          <mat-form-field class="form-field" appearance="fill" color="primary">
            <mat-label>Metodo de Selección</mat-label>
            <mat-select formControlName="Frecuencia" [ngModel]="selectedFrecuencia">
                <mat-option *ngFor="let val of frecuencias" [value]="val">{{val}}</mat-option>
            </mat-select>
        </mat-form-field>
    
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Persona que Imparte</mat-label>
          <input matInput formControlName="PersonaImparte">
        </mat-form-field>
    
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Comentarios *Opcional</mat-label>
          <input matInput formControlName="Comentarios">
        </mat-form-field>
      
              </div>


            <div class="box2">
          
              <div class="col flex align-items-center justify-content-center">
                    
                <div class="small-calendar" *ngIf="selectedFrecuencia === 'Seleccion de Dias'">
                  <!--<label for="fechaInicio" class="font-bold block mb-2">Fecha Inicio</label> 
                  <p-calendar [inline]="true" inputId="fechaInicio" formControlName="FechaInicio" 
                  dateFormat="dd/mm/yy" [minDate]="hoy" [(ngModel)]="fechaStart"></p-calendar>-->
                  <label for="fechaInicio" class="font-bold block mb-2">Selecciona Dias*</label> 
                  <p-calendar [inline]="true" inputId="fechaInicio" selectionMode="multiple" 
                  [readonlyInput]="true" formControlName="Fecha"
                  dateFormat="dd/mm/yy" [minDate]="hoy" [(ngModel)]="dates">
                </p-calendar>
                </div>
               <!--formControlName="Fecha"-->

                <div class="small-calendar" *ngIf="selectedFrecuencia !== 'Seleccion de Dias'">
                  <label for="fecharango" class="font-bold block mb-2">Selecciona Dia Inicio y Dia Fin*</label> 
                  <p-calendar [(ngModel)]="rangeDates" inputId="fecharango" [minDate]="hoy" formControlName="FechaRango"
                [inline]="true"
                selectionMode="range" 
                [readonlyInput]="true" />
                </div>
              </div>

            <div class="col flex align-items-center justify-content-center" *ngIf="false">
              <div class="small-calendar" >
                <label for="fechaFin" class="font-bold block mb-2"> Fecha Fin </label>
                <p-calendar [inline]="true" inputId="fechaFin" formControlName="FechaFin" 
              dateFormat="dd/mm/yy" [minDate]="fechaStart" />
              </div>

              <div class="small-calendar">
                <label for="calendar-timeonly" class="font-bold block mb-2"> Hora Inicio </label>
                <p-calendar 
                [hourFormat]="'12'" 
        inputId="calendar-timeonly" 
        [timeOnly]="true" formControlName="HoraInicio"/>
              </div>
      
              <div class="small-calendar">
                <label for="calendar-time" class="font-bold block mb-2"> Hora Fin </label>
                <p-calendar 
                [hourFormat]="'12'" 
        inputId="calendar-time" 
        [timeOnly]="true" formControlName="HoraFin"/>
              </div>

            </div>
          

            </div>
          </div>


          <button class="buton1" mat-raised-button color="primary" type="submit">Guardar</button>
      </form> 
      
      </p-card>
    </div>

    
      
      <!--<mat-form-field class="form-field" appearance="fill" color="primary">
        <mat-label>Seleccion Dias</mat-label>
        <mat-select formControlName="Frecuencia">
            <mat-option *ngFor="let val of frecuencias" [value]="val">{{val}}</mat-option>
        </mat-select>
    </mat-form-field>-->
  
        <!--<mat-form-field appearance="outline">
          <mat-label>Capacitaciones</mat-label>
          <input type="text"
                 matInput
                 [(ngModel)]="capacitacionesFiltrada"
                 (ngModelChange)="filterCapacitaciones()"
                 formControlName="NombreCapacitacion"
                 [matAutocomplete]="autoCapacitacionesSolicitadas">
          <mat-autocomplete #autoCapacitacionesSolicitadas="matAutocomplete">
            <mat-option *ngFor="let capacitacion of capacitacionesFiltradas" [value]="capacitacion.NombreCapacitacion">
              {{ capacitacion.NombreCapacitacion }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>-->
    

        <!--<p-calendar 
              class="max-w-full" 
              [inline]="true" 
              [showWeek]="true"
              formControlName="Fecha"
              dateFormat="dd/mm/yy" 
              [(ngModel)]="datetime12h" />-

        

          
          


           
              
            </div>

            
          
  
         

  
          
  
        <br><br>
        

        
    
        <button mat-raised-button color="primary" type="submit">Guardar</button>
      </form>
    </div>
  </mat-card>
-->
<!--
<div class="card flex justify-content-center">
    <p-colorPicker 
        [(ngModel)]="color" 
        [disabled]="true" />
</div>

<p-autoComplete class="p-autoComplete"
        [(ngModel)]="capacitacionSeleccionada" 
        [dropdown]="true" 
        [suggestions]="filteredCapacitaciones" 
        (completeMethod)="filterCountry($event)" 
        field="NombreCapacitacion"/>

<p-pickList 
        [source]="sourceEmpleados" 
        [target]="targetEmpleados" 
        sourceHeader="Empleados" 
        targetHeader="Seleccionados" 
        [dragdrop]="true" 
        [responsive]="true" 
        [sourceStyle]="{ height: '30rem' }"
        [targetStyle]="{ height: '30rem' }" 
        filterBy="NoNomina"
        sourceFilterPlaceholder="Buscar por NoNomina" 
        targetFilterPlaceholder="Buscar por NoNomina" 
        breakpoint="1400px">
            <ng-template let-empleado pTemplate="item">
                <div class="flex flex-wrap p-2 align-items-center gap-3">
                    
                    <span class="font-bold text-900">
                        {{ 'N.Nomina: '+ empleado.NoNomina}}
                    </span>
                    
                    <div class="flex-1 flex flex-column gap-2">
                        <span class="font-bold">
                            {{ empleado.Apellidos+' ' +empleado.Nombre}}
                        </span>
                        <div class="flex align-products-center gap-2">
                            <i class="pi pi-tag text-sm"></i>
                            <span>
                                {{ empleado.NombrePuesto }}
                            </span>
                        </div>
                        <span class="font-bold">
                            {{ empleado.NombreDepartamento}}
                        </span>
                    </div>
                </div>
            </ng-template>
    </p-pickList>-->
    
    

    <!--
<button (click)="imprimir()">Imprimir Valores Seleccionados </button>

<div class="card flex justify-content-center">
    <p-calendar 
    [(ngModel)]="rangeDates" 
    selectionMode="range" 
        [touchUI]="true"
        [readonlyInput]="true" />
</div>


<div class="flex-auto">
    <label for="calendar-12h" class="font-bold block mb-2"> 12h Format </label>
    <p-calendar 
        inputId="calendar-12h" 
        [(ngModel)]="datetime12h" 
        [showTime]="true" 
        [hourFormat]="hora"/>
</div>

<div class="flex-auto">
    <label for="calendar-timeonly" class="font-bold block mb-2"> Time Only </label>
    <p-calendar 
        inputId="calendar-timeonly" 
        [(ngModel)]="time" 
        [timeOnly]="true" 
        [hourFormat]="hora"/>
</div>
-->