.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border: 1px solid #4CAF50;
  background-color: #8BC34A;
  color: white;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.login-background {
  background-image: url('vacas.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.logo {
  width: 150px;
  margin-bottom: 10px;
}

mat-card {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
  text-align: center;
  position: relative;
  padding: 10px;
  /*color:#388ec7;*/
}

.form-group {
  margin-bottom: 15px;
  position: relative;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.password-input p-password input {
  width: 95%;
  padding: 10px;
  box-sizing: border-box;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.password-group button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.captcha{
  text-align: center;
  position: relative;
}

/* Botón de envío 
button {
    /*background-color: #5c67f2;*/
    /*color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4a54e1;
}
*/

