
.body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f4f8;
}

.welcome-container {
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.logo-container {
    margin-bottom: 20px;
}

.logo {
    max-width: 100%;
    height: auto;
    width: 150px;
}

h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.welcome-message {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 30px;
}