<button mat-flat-button color="primary" [routerLink]="['/system/faltas']" style="margin: 20px;"> <i class="pi pi-arrow-left" style="font-size: 1.5rem"></i>Regresar a las Faltas</button>

<h2>Información de la Falta</h2>

<div *ngIf="faltas.length > 0" class="faltas-container">
 
  <div class="falta-details">
    <div class="detail-item">
      <strong>Fecha:</strong>
      <span>{{ faltas[0].FechaFalta.toString().split('T')[0].split('-').reverse().join('/') }}</span>
    </div>
    <div class="detail-item">
      <strong>Nombre:</strong>
      <span>{{ faltas[0].Nombre }}</span>
    </div>
    <div class="detail-item">
      <strong>Apellidos:</strong>
      <span>{{ faltas[0].Apellidos }}</span>
    </div>
    <div class="detail-item">
      <strong>Departamento:</strong>
      <span>{{ faltas[0].NombreDepartamento }}</span>
    </div>
    <div class="detail-item">
      <strong>Motivo:</strong>
      <span>{{ faltas[0].Motivo }}</span>
    </div>
    <div class="detail-item">
      <strong>Sanción:</strong>
      <span>{{ faltas[0].Sancion }}</span>
    </div>
    <div class="detail-item">
      <strong>Estatus:</strong>
      <span>{{ faltas[0].Estatus }}</span>
    </div>
    <div class="detail-item">
      <strong>Nivel Sanción:</strong>
      <span>{{ faltas[0].NivelSancion }}</span>
    </div>

    <!-- Nuevos campos -->
    <div class="detail-item">
      <mat-form-field appearance="fill">
        <mat-label>Fechas A Pagar</mat-label>
        <input matInput [(ngModel)]="fechapagar" [matDatepicker]="pickeringreso">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickeringreso"></mat-datepicker-toggle>
        <mat-datepicker #pickeringreso></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="detail-item">
      <mat-form-field appearance="fill">
        <mat-label>Comentarios</mat-label>
        <input matInput [(ngModel)]="comentario">
      </mat-form-field>
    </div>

  </div>

  <div class="action">
    <button mat-raised-button color="primary" (click)="agregarDia()">Agregar</button>
  </div>
</div>

  

  <div>
    <h2>Fechas A pagar</h2>
    <p-table 
    #dt2
[value]="fechaspagar" 
[paginator]="true"
[rows]="5"
[rowsPerPageOptions]="[5,10, 15, 25, 50]"

[globalFilterFields]="['Comentario', 'FechaPagar']"
dataKey="id"
styleClass="p-datatable-striped" 
[tableStyle]="{'min-width': '50rem'}">
<ng-template pTemplate="caption">
<div class="flex" >
  <p-iconField iconPosition="left" class="ml-auto">
      <p-inputIcon>
          <i class="pi pi-search"></i>
      </p-inputIcon>
      <input 
          pInputText 
          type="text" 
          (input)="filterTable($event)"  
          placeholder="Busca alguna palabra" />
  </p-iconField>
</div>
</ng-template>

<ng-template pTemplate="header">
    <tr>
        <th></th>
        <th>Fecha</th>
        <th>Comentario</th>
        <th>Acciones</th>
    </tr>
</ng-template>
<ng-template pTemplate="body" let-falta>
    <tr>
        <td></td>
        <td>{{falta.FechaPagar.toString().split('T')[0].split('-').reverse().join('/')}}</td>
        <td>{{falta.Comentario}}</td>
        <td>
          <p-button 
           (onClick)="deletedia(falta.IdFechaPagar)"
              icon="pi pi-trash" 
              severity="danger" 
              [rounded]="true" 
              [outlined]="true" />

      </td>
    </tr>
</ng-template>
</p-table>

  </div>


