<p-toast (onClose)="regresar()"/>
<p-confirmDialog />


<button mat-flat-button color="primary" [routerLink]="['/system/roles']" style="margin: 20px;"> <i class="pi pi-arrow-left" style="font-size: 1.5rem"></i>Regresar a Roles</button>


    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">enhanced_encryption</mat-icon>
      Editar Rol
    </ng-template>
    <div class="container-form">
      <h2 class="form-title">Editar Rol <i class="pi pi-address-book" style="font-size: 2rem"></i> </h2>
    
      <div class="form-fields">
        <mat-form-field appearance="fill" class="form-input">
          <mat-label>Nombre Del Rol * </mat-label>
          <input matInput [(ngModel)]="NombreRole">
        </mat-form-field>
    
    
        <mat-form-field appearance="fill" class="form-input">
          <mat-label>Descripción del Rol * </mat-label>
          <input matInput  [(ngModel)]="DescripcionRole">
        </mat-form-field>
    
      </div>
  
      <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Permisos de Rol
              </mat-panel-title>
              <mat-panel-description>
  
  <p>Permisos de Rol</p>
  
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="container">
  
              <!---TALENTO HUMANO-->
              <div class="division" >
                <div class="titulo">
                  <p-checkbox 
                  [(ngModel)]="checkTalentoHumano"
                  [binary]="true" 
                  [label]="'Talento Humano'"
                  name="group"
                  (onChange)="nodoTH()"
                  />
              </div>
              <div *ngFor="let category of talentoHumano" class="field-checkbox" style="margin-left: 30%;">
                  <p-checkbox 
                  (onChange)="seleccion()"
                      [(ngModel)]="selectedtalentoHumano"
                      [label]="category.name"
                      name="group"
                      [value]="category" />
              </div>
              </div>
  
  
  
              <div class="division" >
                <!---CAPACITACIONES-->
                <div class="titulo">
                  <p-checkbox 
                  [(ngModel)]="checkCapacitaciones"
                  [binary]="true" 
                  [label]="'Capacitaciones'"
                  name="group"
                  (onChange)="nodoCapacitaciones()"
                  />
                </div>
                <div *ngFor="let category of capacitaciones" class="field-checkbox" style="margin-left: 30%;">
                  <p-checkbox 
                  (onChange)="seleccion()"
                      [(ngModel)]="selectedCapacitaciones"
                      [label]="category.name"
                      name="group"
                      [value]="category" />
                </div>
                
                </div>
  
    <div class="division">
  <!---CATALOGOS-->
  <div class="titulo">
    <p-checkbox 
    [(ngModel)]="checkCatalogo"
    [binary]="true" 
    [label]="'Catalogo'"
    name="group"
    (onChange)="nodoCatalogo()"
    />
  </div>
  <div *ngFor="let category of catalogos" class="field-checkbox" style="margin-left: 30%;">
    <p-checkbox 
    (onChange)="seleccion()"
        [(ngModel)]="selectedCatalogo"
        [label]="category.name"
        name="group"
        [value]="category" />
  </div>
                </div>
  
  
                <div class="division" >
  <!---Reportes-->
  <div class="titulo">
    <p-checkbox 
    [(ngModel)]="checkReporte"
    [binary]="true" 
    [label]="'Reportes'"
    name="group"
    (onChange)="nodoReportes()"
    />
  </div>
  <div *ngFor="let category of reportes" class="field-checkbox" style="margin-left: 30%;">
    <p-checkbox 
    (onChange)="seleccion()"
        [(ngModel)]="selectedReporte"
        [label]="category.name"
        name="group"
        [value]="category" />
  </div>
  
  
                </div>

                <div class="division" >
                  <!---Normativa-->
                  <div class="titulo">
                    <p-checkbox 
                    [(ngModel)]="checkNormativa"
                    [binary]="true" 
                    [label]="'Normativa'"
                    name="group"
                    (onChange)="nodeNormativa()"
                    />
                  </div>
                  <div *ngFor="let category of normativas" class="field-checkbox" style="margin-left: 30%;">
                    <p-checkbox 
                    (onChange)="seleccion()"
                        [(ngModel)]="selectedNormativa"
                        [label]="category.name"
                        name="group"
                        [value]="category" />
                  </div>
                  
                  
                                </div>
  
  
  
  
            </div>
  
  
  
  
          </mat-expansion-panel>
        </mat-accordion>
       
        <div class="button">
          <button mat-flat-button color="primary" (click)="actualizar()" style="margin: 20px;"> <i class="pi pi-pen-to-square" style="font-size: 1.5rem"></i>Actualizar Rol</button>
        </div>
  
      
    </div>
