<p-toast/>
<p-card>

  <div style="display: flex; justify-content: flex-start;">
    <button [routerLink]="['/system/consultarcapacitaciones']" class="agregar"
    mat-raised-button 
    color="accent">
    <mat-icon>keyboard_return</mat-icon>Regresar Calendario
  </button>
  </div>
</p-card>

    <div class="form-section">
      <p-card>
        <h2>Formulario Nueva Programación</h2>
  
        <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">

          <div class="container">
            <div class="box1">
          
          
              <div style="display: flex; justify-content: space-between; align-items: center; margin: 20px 0;">
                <div style="margin: 0 10px; padding-bottom: 10px; padding-left: 15%; font-size: 14px;">
                  <label for="cp-hex" class="font-bold block mb-2">Elige El Color de la Capacitacion:</label>
                  <div style="text-align: center;">
                    <ngx-colors ngx-colors-trigger formControlName="Color"></ngx-colors>
                  </div>
                </div>
              
                <div style="margin: 0 10px; padding-bottom: 7px; font-size: 14px; padding-right: 15%;">
                  <label for="ny" class="font-bold block mb-2">Capacitacion con Evaluación</label>
                  <div style="text-align: center;">
                    <mat-checkbox id="ny" color="primary" formControlName="Evaluacion"></mat-checkbox>
                  </div>
                </div>
              </div>
      
              <mat-form-field class="form-field" appearance="fill" color="primary">
                <mat-label>Nombre Capacitacion</mat-label>
                <input matInput formControlName="NombreCapacitacion">
              </mat-form-field>
    
            <mat-form-field class="form-field" appearance="fill" color="primary">
              <mat-label>Tipo</mat-label>
              <mat-select formControlName="Origen">
                  <mat-option *ngFor="let val of origen" [value]="val">{{val}}</mat-option>
              </mat-select>
          </mat-form-field>
    
          <mat-form-field class="form-field" appearance="fill" color="primary" >
            <mat-label>Metodo de Selección</mat-label>
            <mat-select formControlName="Frecuencia" (selectionChange)="updateFechaFieldsVisibility()">
                <mat-option *ngFor="let val of frecuencias" [value]="val">{{val}}</mat-option>
            </mat-select>
        </mat-form-field>
    
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Persona que Imparte</mat-label>
          <input matInput formControlName="PersonaImparte">
        </mat-form-field>
    
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Comentarios *Opcional</mat-label>
          <input matInput formControlName="Comentarios">
        </mat-form-field>
      
              </div>
            <div class="box2">
          
              <div class="col flex align-items-center justify-content-center">
                    
                <div class="small-calendar" *ngIf="selectedFrecuencia === 'Seleccion de Dias'">
                  <!--<label for="fechaInicio" class="font-bold block mb-2">Fecha Inicio</label> 
                  <p-calendar [inline]="true" inputId="fechaInicio" formControlName="FechaInicio" 
                  dateFormat="dd/mm/yy" [minDate]="hoy" [(ngModel)]="fechaStart"></p-calendar>-->
                  <label for="fechaInicio" class="font-bold block mb-2">Selecciona Dias</label> 
                  <p-calendar [inline]="true" inputId="fechaInicio" selectionMode="multiple" 
                  [readonlyInput]="true" formControlName="Fecha"
                  dateFormat="dd/mm/yy" [(ngModel)]="dates"></p-calendar>
                </div>

                <div class="small-calendar" *ngIf="selectedFrecuencia !== 'Seleccion de Dias'">
                  <label for="fecharango" class="font-bold block mb-2">Selecciona Dia Inicio y Dia Fin</label> 
                  <p-calendar [(ngModel)]="rangeDates" inputId="fecharango" formControlName="FechaRango"
                [inline]="true"
                selectionMode="range" 
                [readonlyInput]="true" />
                </div>
              </div>

            <div class="col flex align-items-center justify-content-center" *ngIf="false">
              <div class="small-calendar" >
                <label for="fechaFin" class="font-bold block mb-2"> Fecha Fin </label>
                <p-calendar [inline]="true" inputId="fechaFin" formControlName="FechaFin" 
              dateFormat="dd/mm/yy" [minDate]="fechaStart" />
              </div>

              <div class="small-calendar">
                <label for="calendar-timeonly" class="font-bold block mb-2"> Hora Inicio </label>
                <p-calendar 
                [hourFormat]="'12'" 
        inputId="calendar-timeonly" 
        [timeOnly]="true" formControlName="HoraInicio"/>
              </div>
      
              <div class="small-calendar">
                <label for="calendar-time" class="font-bold block mb-2"> Hora Fin </label>
                <p-calendar 
                [hourFormat]="'12'" 
        inputId="calendar-time" 
        [timeOnly]="true" formControlName="HoraFin"/>
              </div>

            </div>
          

            </div>
          </div>


          <button class="buton1" mat-raised-button color="primary" type="submit">Actualizar</button>
          
      </form> 
      </p-card>
    </div>

  
  <p-confirmDialog />