<body>
<title>Login</title>
<img SRC="https://quesossnroque.com/img/logh.png">
<div class="login-container">
    <form class="login-form">
        <h2>Login</h2>
        <div class="input-group">
            <label for="username">Username</label>
            <input type="text" id="username" required>
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" required>
        </div>
        <!--<button type="submit">Entrar</button>-->
        
    </form>
</div>

</body>

<button mat-button color="primary">Guardar</button>

        <button 
        mat-raised-button 
        color = "primary"
        type="submit">Guardar Usuario
        </button>