
    <mat-toolbar class="toolbar">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Sn Roque</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="hola()">
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-toolbar>


    
  
      <div class="center">
<title>Login</title>
<img SRC="https://quesossnroque.com/img/logh.png">
<div class="login-container">
    <form class="login-form">
        <h2>Login</h2>
        <div class="input-group">
            <label for="username">Username</label>
            <input type="text" id="username" required>
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" required>
        </div>
        <!--<button type="submit">Entrar</button>-->

    </form>
    <button 
        mat-raised-button 
        color = "primary"
        type="submit" (click)="hola()">Entrar
        </button>
</div>
</div>

<!--

<div class="body">
    <mat-toolbar class="toolbar">
        <button mat-icon-button class="example-icon" aria-label="Menú">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Sn Roque</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Favoritos" (click)="hola()">
            <mat-icon>favorite</mat-icon>
        </button>
    </mat-toolbar>

    <div class="center">
        <img src="https://quesossnroque.com/img/logh.png" alt="Logo San Roque">
        <div class="login-container">
            <form class="login-form">
                <h2>Login</h2>
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" required>
                </div>
                <button mat-raised-button color="primary" type="submit" (click)="hola()">Guardar Usuario</button>
            </form>
        </div>
    </div>
  </div>
  -->
  
            
  <div *ngIf="show" @slideNotification class="notification success">
    Accediste con Exito, Bienvenido Empleado Fulanito
  </div>

