
.form-container {
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-bottom: 2rem;
}


.separacion{
    padding-right: 5%;
    
}
p{
    font-size: 1.5rem;
}

.grid-container {
    margin: 20px;
  }