<!-- dashboard-overview.component.html -->
 <!--Linea Por empleado-->
 <!--
<mat-grid-list cols="8" rowHeight="100px" >

   
   <mat-grid-tile [colspan]="1" [rowspan]="2">
    <mat-card class="dashboard-card">
    <mat-card-content >
            <i class="pi pi-users" style="font-size: 5rem; color: #8f2866"> {{BajasEmpleados}} </i>
            <p style="color: #8f2866;">Empleados Bajas</p>
    </mat-card-content>
  </mat-card>
</mat-grid-tile>

<mat-grid-tile [colspan]="1" [rowspan]="2">
  <mat-card class="dashboard-card">
  <mat-card-content >
    <i class="pi pi-users" style="font-size: 5rem; color: #50c596"> {{CantidadEmpleados}} </i>
          <p style="color: #50c596;">Empleados Activos</p> 
  </mat-card-content>
</mat-card>
</mat-grid-tile>

</mat-grid-list>-->

<p-toast />


<div>
  <h1 class="title"><strong><i class="pi pi-spin pi-chart-pie" style="font-size: 2rem"></i> Dashboard Famo Alimentos <i class="pi pi-chart-bar" style="font-size: 2rem"></i></strong></h1>
</div>

<mat-grid-list cols="2" rowHeight="380px">
<!-- ESTABA ANTES A 350-->

  <!--Linea De empleados-->
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>
        Empleados Actuales Famo Alimentos

        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu0" aria-label="Toggle menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu0="matMenu" xPosition="before">
          <button mat-menu-item (click)="impresionEmpleados('empleados')">Imprimir Grafica</button>
        </mat-menu>
        
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
        <div class="form-container" style="margin-top: 10px;" id="empleados">
          
          <div class="separacion"> 
            <i class="pi pi-users" style="font-size: 5rem; color: #8f2866"> {{BajasEmpleados}}</i>
            <p style="color: #8f2866;">Empleados Bajas</p>
            </div>

          <div class="separacion"> 
            <i class="pi pi-users" style="font-size: 5rem; color: #50c596"> {{CantidadEmpleados}}</i>
          <p style="color: #50c596;">Empleados Activos</p> 
          </div>

          <div class="separacion"> 
            <i class="pi pi-user" style="font-size: 5rem; color: #50b8c5"> {{Masculino}}</i>
            <p style="color: #50b8c5;">Masculinos</p>
          </div>
          
          <div class="separacion"> 
            <i class="pi pi-user" style="font-size: 5rem; color: #be70e6"> {{Femenino}}</i>
            <p style="color: #be70e6;">Femeninos</p>
          </div>


          <div class="separacion"> 
            <i class="pi pi-user" style="font-size: 5rem; color: #8654d7"> {{Otro}} </i>
            <p style="color: #8654d7;">Otro</p>
          </div>

          <h2>Promedio Antiguedad De Empleados:  <strong>{{promedioantiguedad}} Años</strong></h2>
          
          <p-meterGroup [value]="value">
          </p-meterGroup>

        </div>
        
     

    </mat-card-content>
  </mat-card>
</mat-grid-tile>


<!--Rango de Edades de Empleados Activos-->
<mat-grid-tile [colspan]="1" [rowspan]="1">
  <mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>
      Empleados Activos Rango de Edades

      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu1" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu1="matMenu" xPosition="before">
        <button (click)="impresionEdades('chartEdades')" mat-menu-item>Imprimir Grafica</button>
      </mat-menu>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <div id="chartEdades">
    <h4>Promedio Edad De Empleados:  <strong>{{promedioedad}} Años</strong></h4>
      <p-chart type="bar" [data]="databarEdades"  height="210px"  responsive="true"></p-chart>
    </div>
    
  </mat-card-content>
</mat-card>
</mat-grid-tile>


<!--Empleados por Estado Civil-->
<mat-grid-tile [colspan]="1" [rowspan]="1">
  <mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>
      Empleados por Estado Civil


      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu6" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu6="matMenu" xPosition="before">
        <button (click)="impresionEmpleadosEstadoCivil('EmpleadosActivosPorEstadoCivil')" mat-menu-item>Imprimir Grafica</button>
      </mat-menu>

    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <div id="EmpleadosActivosPorEstadoCivil">
      <p-chart type="bar" [data]="databar" height="250px" responsive="true"></p-chart>
    </div>
  </mat-card-content>
</mat-card>
</mat-grid-tile>


<!--Rango de Antiguedades por empleado Active-->
<mat-grid-tile [colspan]="1" [rowspan]="1">
  <mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>
      Antiguedades por Empleados Activo

      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu2" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu2="matMenu" xPosition="before">
        <button (click)="impresionAntiguedades('chartAntiguedades')" mat-menu-item>Imprimir Grafica</button>
      </mat-menu>

    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <div id="chartAntiguedades">
      <p-chart type="bar" [data]="databarRangosAntiguedadActive"  height="250px"  responsive="true"></p-chart>
    </div>

  </mat-card-content>
</mat-card>
</mat-grid-tile>


<!--Rango de Antiguedades por Salidas-->
<mat-grid-tile [colspan]="1" [rowspan]="1">
  <mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>
      Antiguedades por Empleados Salidas


      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu3" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu3="matMenu" xPosition="before">
        <button (click)="impresionSalidasAntiguedades('chartAntiguedadesSalidas')" mat-menu-item >Imprimir Grafica</button>
      </mat-menu>


      <mat-form-field appearance="fill" color="primary" style="width: 25%; padding-right: 1rem;">
        <mat-label>Meses</mat-label>
        <mat-select (selectionChange)="consultaSalidasAntiguedades()" [(ngModel)]="mesSeleccionadoSalidasAntiguedades">
          <mat-option>-</mat-option>
            <mat-option *ngFor="let val of meses" [value]="val">{{val}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    

    <mat-form-field appearance="fill" color="primary" style="width: 15%;">
      <mat-label>Año</mat-label>
      <mat-select (selectionChange)="consultaSalidasAntiguedades()" [(ngModel)]="anoSeleccionadoSalidasAntiguedades" >
          <mat-option *ngFor="let val of anos" [value]="val">{{val}}
          </mat-option>
      </mat-select>
  </mat-form-field>

    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <div id="chartAntiguedadesSalidas">
      <!--<h4>Promedio Antiguedad De Empleados en Bajas:  <strong>{{promedioantiguedadBaja}} Años</strong></h4>-->
      <p-chart type="bar" [data]="databarRangosAntiguedadInactive"  height="210px"  responsive="true"></p-chart>
    </div>
  </mat-card-content>
</mat-card>
</mat-grid-tile>


<!--Empleados por Departamento-->
<mat-grid-tile [colspan]="1" [rowspan]="1">
  <mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>
      Cantidades de Empleados por Cada Departamento

      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu4" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu4="matMenu" xPosition="before">
        <button (click)="impresionEmpleadosPorDepartamento('empleadosPorDepartamento')" mat-menu-item>Imprimir Grafica</button>
      </mat-menu>

    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    
      <div class="p-grid p-p-4">
        <div class="p-col-4" id="empleadosPorDepartamento">
          <p-chart type="doughnut" [data]="datadoughnut" height="250px" responsive="true"></p-chart>
      </div>
    </div>  
    
  </mat-card-content>
</mat-card>
</mat-grid-tile>


<!--Empleados Bajas por Departamento-->
<mat-grid-tile [colspan]="1" [rowspan]="1">
  <mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>
      Bajas Departamento

      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu5" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu5="matMenu" xPosition="before">
        <button (click)="impresionBajasPorDepartamento('bajasporDepartamento')" mat-menu-item>Imprimir Grafica</button>
      </mat-menu>


      <mat-form-field appearance="fill" color="primary" style="width: 25%; padding-right: 1rem;">
        <mat-label>Meses</mat-label>
        <mat-select (selectionChange)="consultaBajas()" [(ngModel)]="mesSeleccionadoBajas">
          <mat-option>-</mat-option>
            <mat-option *ngFor="let val of meses" [value]="val">{{val}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    

    <mat-form-field appearance="fill" color="primary" style="width: 15%;">
      <mat-label>Año</mat-label>
      <mat-select (selectionChange)="consultaBajas()" [(ngModel)]="anoSeleccionadoBajas" >
          <mat-option *ngFor="let val of anos" [value]="val">{{val}}
          </mat-option>
      </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" color="primary" style="width: 20%; ">
    <mat-label>Total:</mat-label>
    <input matInput disabled value="{{bajasTotales}} Bajas">
  </mat-form-field>

    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    
      <div class="p-grid p-p-4">
        <div class="p-col-4" id="bajasporDepartamento" *ngIf="bajasDepartamentos.length>0">
          <p-chart type="doughnut" [data]="datapolar" height="250px" responsive="true"></p-chart>
      </div>
      <div *ngIf="bajasDepartamentos.length==0" style="margin-top: 15%;">
        <h2>No hay Registros</h2>
      </div>
    </div>  
    
  </mat-card-content>
</mat-card>
</mat-grid-tile>








<mat-grid-tile [colspan]="1" [rowspan]="1">
  <mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>
      Incidencias


      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu7" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu7="matMenu" xPosition="before">
        <button (click)="impresionIncidenciasPorDepartamento('incidenciasPorDepartamento')" mat-menu-item>Imprimir Grafica</button>
      </mat-menu>

      <mat-form-field appearance="fill" color="primary" style="width: 25%; padding-right: 1rem;">
        <mat-label>Meses</mat-label>
        <mat-select (selectionChange)="consultaIncidencias()" [(ngModel)]="mesSeleccionadoIncidencias">
          <mat-option>-</mat-option>
            <mat-option *ngFor="let val of meses" [value]="val">{{val}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    

    <mat-form-field appearance="fill" color="primary" style="width: 15%;">
      <mat-label>Año</mat-label>
      <mat-select (selectionChange)="consultaIncidencias()" [(ngModel)]="anoSeleccionadoIncidencias" >
          <mat-option *ngFor="let val of anos" [value]="val">{{val}}
          </mat-option>
      </mat-select>
  </mat-form-field>


  <mat-form-field appearance="fill" color="primary" style="width: 20%; ">
    <mat-label>Total:</mat-label>
    <input matInput disabled value="{{incidenciasTotales}} Incidencias">
  </mat-form-field>


    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <div id="incidenciasPorDepartamento" *ngIf="incidenciasPorDepartamento.length>0">
      <p-chart type="bar" [data]="databarIncidenciasPorDepartamento" height="200px" responsive="true"></p-chart>
    </div>

    <div *ngIf="incidenciasPorDepartamento.length==0" style="margin-top: 17%;">
      <h2>No hay Registros</h2>
    </div>
    
  </mat-card-content>
  </mat-card>
  </mat-grid-tile>

  

    <!--Sumas de Dias de Incidencias por Departamento por Mes y Año-->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          Dias Incidencias
    
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu14" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu14="matMenu" xPosition="before">
            <button (click)="impresionPeriodoDeDiasIncidencias('PeriodoDiasIncidenciasPorDepartamento')" mat-menu-item>Imprimir Grafica</button>
          </mat-menu>

          <mat-form-field appearance="fill" color="primary" style="width: 25%; padding-right: 1rem;">
            <mat-label>Meses</mat-label>
            <mat-select (selectionChange)="consultaDiasIncidencias()" [(ngModel)]="mesSeleccionadoDiasIncidencias">
              <mat-option>-</mat-option>
                <mat-option *ngFor="let val of meses" [value]="val">{{val}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
    
        <mat-form-field appearance="fill" color="primary" style="width: 15%;">
          <mat-label>Año</mat-label>
          <mat-select (selectionChange)="consultaDiasIncidencias()" [(ngModel)]="anoSeleccionadoDiasIncidencias" >
              <mat-option *ngFor="let val of anos" [value]="val">{{val}}
              </mat-option>
          </mat-select>
      </mat-form-field>
    
    
      <mat-form-field appearance="fill" color="primary" style="width: 20%; ">
        <mat-label>Total:</mat-label>
        <input matInput disabled value="{{diasincidenciasTotales}} Dias">
      </mat-form-field>
    
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">

        <div id="PeriodoDiasIncidenciasPorDepartamento">
          <p-chart type="bar" [data]="datalineDiasIncidencias" height="250px" responsive="true"></p-chart>
        </div>

        
      </mat-card-content>
      </mat-card>
      </mat-grid-tile>








  <mat-grid-tile [colspan]="1" [rowspan]="1">
  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>
        <div *ngIf="mesSeleccionado" style="width: 700px; height: 50px;">
          Horas de Capacitaciones
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu8" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-form-field appearance="fill" color="primary" style="width: 25%; padding-right: 1rem;">
            <mat-label>Meses</mat-label>
            <mat-select (selectionChange)="consulta()" [(ngModel)]="mesSeleccionado">
              <mat-option>-</mat-option>
                <mat-option *ngFor="let val of meses" [value]="val">{{val}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
  
        <mat-form-field appearance="fill" color="primary" style="width: 15%;">
          <mat-label>Año</mat-label>
          <mat-select (selectionChange)="consulta()" [(ngModel)]="anoSeleccionado" >
              <mat-option *ngFor="let val of anos" [value]="val">{{val}}
              </mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" color="primary" style="width: 17%; ">
        <mat-label>Total:</mat-label>
        <input matInput disabled value="{{horasTotales}} Horas">
      </mat-form-field>
        </div>
          
        
        <div *ngIf="!mesSeleccionado" style=" width: 700px; height: 50px;">
          Horas de Capacitaciones
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu8" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-form-field appearance="fill" color="primary" style="width: 25%; padding-right: 1rem;">
            <mat-label>Meses</mat-label>
            <mat-select (selectionChange)="consulta()" [(ngModel)]="mesSeleccionado">
              <mat-option>-</mat-option>
                <mat-option *ngFor="let val of meses" [value]="val">{{val}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
  
        <mat-form-field appearance="fill" color="primary" style="width: 15%;">
          <mat-label>Año</mat-label>
          <mat-select (selectionChange)="consulta()" [(ngModel)]="anoSeleccionado" >
              <mat-option *ngFor="let val of anos" [value]="val">{{val}}
              </mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" color="primary" style="width: 17%;">
        <mat-label>Total:</mat-label>
        <input matInput disabled value="{{horasTotales}} Horas">
      </mat-form-field>

        </div>

       

        <mat-menu #menu8="matMenu" xPosition="before">
          <button (click)="impresionHorasCapacitaciones('HorasCapacitaciones')" mat-menu-item>Imprimir Grafica</button>

        </mat-menu>

      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <div id="HorasCapacitaciones" *ngIf="capacitacionesDepartamento.length>0">
        <p-chart type="pie" [data]="datapieCapacitaciones" height="250px" responsive="true"></p-chart>
      </div>
      <div *ngIf="capacitacionesDepartamento.length==0" style="margin-top: 17%;">
        <h2>No hay Registros</h2>
      </div>
    </mat-card-content>
    </mat-card>
    </mat-grid-tile>




    <!--Empleados Bajas por Departamento
    <mat-form-field appearance="fill" color="primary">
          <mat-label>Meses</mat-label>
          <mat-select>
              <mat-option *ngFor="let val of meses" [value]="val">{{val}}
              </mat-option>
          </mat-select>
      </mat-form-field>
    -->
<mat-grid-tile [colspan]="1" [rowspan]="1">
  <mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>
      Cambios de Puestos por Departamento
      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu9" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu9="matMenu" xPosition="before">
        <button (click)="impresionCambiosPuestos('cambiosPuestos')" mat-menu-item>Imprimir Grafica</button>
      </mat-menu>


    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <div id="cambiosPuestos">
      <p-chart type="polarArea" [data]="datapolarCambios" height="250px" responsive="true"></p-chart>
    </div>
  </mat-card-content>
</mat-card>
</mat-grid-tile>


<mat-grid-tile [colspan]="1" [rowspan]="1">
  <mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>
      Faltas Por Departamento
      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu15" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu15="matMenu" xPosition="before">
        <button (click)="impresionFaltasPorDepartamento('faltas')" mat-menu-item>Imprimir Grafica</button>
      </mat-menu>


      <mat-form-field appearance="fill" color="primary" style="width: 25%; padding-right: 1rem;">
        <mat-label>Meses</mat-label>
        <mat-select (selectionChange)="consultaFaltas()" [(ngModel)]="mesSeleccionadoFaltas">
          <mat-option>-</mat-option>
            <mat-option *ngFor="let val of meses" [value]="val">{{val}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    

    <mat-form-field appearance="fill" color="primary" style="width: 15%;">
      <mat-label>Año</mat-label>
      <mat-select (selectionChange)="consultaFaltas()" [(ngModel)]="anoSeleccionadoFaltas" >
          <mat-option *ngFor="let val of anos" [value]="val">{{val}}
          </mat-option>
      </mat-select>
  </mat-form-field>


  <mat-form-field appearance="fill" color="primary" style="width: 17%; ">
    <mat-label>Total:</mat-label>
    <input matInput disabled value="{{faltasTotales}} Faltas">
  </mat-form-field>


  <!--<mat-form-field>
    <mat-label>Tipo</mat-label>
    <mat-select [(ngModel)]="tipos" multiple (selectionChange)="Tipo()">
      @for (topping of toppingList; track topping) {
        <mat-option [value]="topping">{{topping}}</mat-option>
      }
    </mat-select>
  </mat-form-field>-->


  <div class="flex align-items-center">
    <p-checkbox
    (onChange)="Tipo()" 
    [(ngModel)]="checkedJ"
    [binary]="true" 
        inputId="binary"
        label="Justificada"
         />
        <p-checkbox 
        (onChange)="Tipo()"
        [(ngModel)]="checkedI"
        [binary]="true" 
        inputId="binary"
            label="Injustificada" />
</div>

    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
      <div id="faltas" *ngIf="faltasDepartamento.length>0">
        <p-chart type="doughnut" [data]="databarfaltas" height="230px" responsive="true"></p-chart>
      </div>
      <div *ngIf="faltasDepartamento.length==0" style="margin-top: 12%;">
        <h2>No hay Registros</h2>
      </div>
    

  </mat-card-content>
</mat-card>
</mat-grid-tile>
  




</mat-grid-list>

<p-divider />
<!--Seleccion de Periodo-->
<div style="text-align: center;">
  <label for="periodo">Selecciona un Periodo: </label>
  <br>
  <p-dropdown 
  id="periodo"
      [options]="periodos" 
      [(ngModel)]="periodoSeleccionado"
      placeholder="Selecciona Un Periodo" 
      (onChange)="periodosall()"
      />
</div>

<mat-grid-list cols="2" rowHeight="350px">


<!--Cantidad de Capacitaciones por Mes y Año-->
<mat-grid-tile [colspan]="1" [rowspan]="1">
<mat-card class="dashboard-card">
<mat-card-header>
  <mat-card-title>
    Cantidad de Dias de Capacitaciones {{periodoSeleccionado}}
    <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu11" aria-label="Toggle menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu11="matMenu" xPosition="before">
      <button (click)="impresionPeriodoCapacitaciones('PeriodoDiasCapacitaciones')" mat-menu-item>Imprimir Grafica</button>
    </mat-menu>
    <button mat-icon-button class="more-button" (click)="changeQuarterCapacitaciones(-1)">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button mat-icon-button class="more-button" (click)="changeQuarterCapacitaciones(1)" >
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>

  </mat-card-title>
</mat-card-header>
<mat-card-content class="dashboard-card-content">
    <div id="PeriodoDiasCapacitaciones">
      <p-chart type="bar" [data]="datalineCapacitaciones" height="250px" responsive="true"></p-chart>
    </div>
</mat-card-content>
</mat-card>
</mat-grid-tile>


<!--Cantidad de Contrataciones por Mes y Año-->
<mat-grid-tile [colspan]="1" [rowspan]="1">
<mat-card class="dashboard-card">
<mat-card-header>
  <mat-card-title>
    Cantidad de Contrataciones {{periodoSeleccionado}}

    <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu12" aria-label="Toggle menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu12="matMenu" xPosition="before">
      <button (click)="impresionPeriodoContrataciones('PeriodoContrataciones')" mat-menu-item>Imprimir Grafica</button>
    </mat-menu>
    <button mat-icon-button class="more-button" (click)="changeQuarterContrataciones(-1)">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button mat-icon-button class="more-button" (click)="changeQuarterContrataciones(1)" >
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </mat-card-title>
</mat-card-header>
<mat-card-content class="dashboard-card-content">
  <div id="PeriodoContrataciones">
    <p-chart type="bar" [data]="datalineContrataciones" height="250px" responsive="true"></p-chart>
  </div>
</mat-card-content>
</mat-card>
</mat-grid-tile>


<!--Cantidad de Contrataciones por Mes y Año-->
<mat-grid-tile [colspan]="1" [rowspan]="1">
  <mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>
      Salidas de Edades {{periodoSeleccionado}}

      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu13" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu13="matMenu" xPosition="before">
        <button (click)="impresionPeriodoEdadesSalidas('PeriodoSalidasEdades')" mat-menu-item>Imprimir Grafica</button>
      </mat-menu>

      <button mat-icon-button class="more-button" (click)="changeQuarterSalidas(-1)">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button mat-icon-button class="more-button" (click)="changeQuarterSalidas(1)" >
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>

    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <div id="PeriodoSalidasEdades">
      <p-chart type="bar" [data]="datalineSalidasFechas" height="250px" responsive="true"></p-chart>
    </div>
    
  </mat-card-content>
  </mat-card>
  </mat-grid-tile>




</mat-grid-list>