/* Estilos para el formulario */

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Espacio entre los elementos */
    margin-bottom: 16px;
}

.form-field {
    flex: 1;
    min-width: 200px;
}

mat-dialog-actions {
    display: flex;
    justify-content: center; /* Centrar los botones */
    padding-top: 20px;
    gap: 10px; /* Espacio entre los botones */
}

.buttonno, .buttonsi {
    min-width: 100px; /* Ajustar el ancho mínimo de los botones */
}
