<p-toast />
<p-confirmDialog />

<p-card>
  <div style="text-align: center;">
    
    <!--<<button [routerLink]="['/system/agregarvacacion']" class="agregar"
mat-raised-button 
color = "primary"
type="submit"><mat-icon>date_range</mat-icon>Agregar Nueva Vacación
</button>-->
<p-button (onClick)="showDialog()" [rounded]="true" size="large" 
label="Agregar Nueva Vacacion" icon="pi pi-plus-circle" [disabled]="!btnAgregar"/>

  <!--<label for="Periodo"> Periodos:  </label>
  <p-dropdown
  id="Periodo"
  [virtualScroll]="true"
  [virtualScrollItemSize]="38"  
  [options]="Opciones"
  [(ngModel)]="opcionSeleccionada"
  placeholder="Selecciona un Periodo"
  [disabled]="!btnAgregar"/>-->


</div>

<div style="text-align: end;" *ngIf="empleados.length>0">
  <h1>Nombre: {{empleados[0].Nombre + ' '+ empleados[0].Apellidos}}</h1>
  <h2>Aniversario: {{empleados[0].Aniversario | date:'dd/MM/yyyy'}}</h2>
  <h2>Alta Imss: {{empleados[0].IngresoImss | date:'dd/MM/yyyy'}}</h2>

</div>
</p-card>

  <!--<p-menubar [model]="items1" />-->
  <p-card>
    
    <div class="flex-auto" style="text-align: center;">
      <label for="NoNominaiInput" class="font-bold block mb-2">No. Nomina</label>
      <p-inputNumber 
          [(ngModel)]="NoNomina" 
          mode="decimal" 
          inputId="NoNominaInput" 
          [useGrouping]="false" 
          [min]="0" 
            [max]="9999"
          /> 
          
          
  </div>

    <div>
    <div class="flex-auto" style="text-align: center;">
      <label for="FechaInicio" class="font-bold block mb-2"> Fecha Inicio </label>
      <p-calendar
          dateFormat="dd/mm/yy"
          [(ngModel)]="date1" 
          [showIcon]="true" 
          inputId="FechaInicio" 
          [showOnFocus]="false" />

          <label for="FechaFin" class="font-bold block mb-2"> Fecha Fin </label>
    <p-calendar
        dateFormat="dd/mm/yy"
        [(ngModel)]="date2" 
        [showIcon]="true" 
        inputId="FechaFin" 
        [showOnFocus]="false" />

        <div style="text-align: center; padding-top: 2rem;">
          <p-button label="Consultar/Actualizar" icon="pi pi-check" (onClick)="ConsultarFechas()"/>
        </div>
        
  </div>
</div>
  </p-card>
  
  
  <div>
    <p-table [value]="vacaciones" [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-striped"
    [scrollable]="true" 
    scrollHeight="250px" >
      <ng-template pTemplate="header">
          <tr>
            <th></th>
              <th>Fecha</th>
              <th>Comentarios</th>
              <th>Periodo</th>
              <th>Acciones</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-vacacion>
          <tr>
            <td></td>
              <td>{{ vacacion.Fecha | date:'dd/MM/yyyy'}}</td>
              <td>{{ vacacion.Comentarios }}</td>
              <td>{{ vacacion.Periodo}}</td>
              <td>
                <p-button 
                    icon="pi pi-trash" 
                    severity="danger" 
                    [rounded]="true" 
                    [outlined]="true" 
                    (onClick)="CancelarVacacion(vacacion.IdFechaVacacion, vacacion.IdVacacion)"/>
            </td>
          </tr>
      </ng-template>
  </p-table>
  <div *ngIf="vacaciones.length==0" style="text-align: center; color: cornflowerblue;">
    <h2>No Hay Vacaciones</h2>
  </div>
  </div>
 

<!--<div>
  <h1 style="color: rgb(0, 145, 255);"><strong>Calendario de Vacaciones</strong></h1>
  <div id="calendar-container" class="full-calendar-md" style="width: 40%;">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>
</div>-->


<p-dialog 
    header="Agregar Vacación" 
    [(visible)]="visible" 
    [modal]="true" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
    [style]="{ width: '50vw' }" 
    [draggable]="false" 
    [resizable]="false">
    <p-button (onClick)="reiniciar()"
label="Reiniciar"/>

    
      
      <div class="flex align-items-center gap-3 mb-3">

        <label for="caledario">Calendario </label>
        <p-calendar 
        (onClose)="reiniciar()"
        id="calendario"
        class="max-w-full" 
        [(ngModel)]="dates" 
        selectionMode="multiple"
        [inline]="true" 
        [showButtonBar]="true"
        (ngModelChange)="formatSelectedDates()"
        (onClearClick)="limpiar()"
        [disabled]="desactivarCalendario"
        />
        <!--(ngModelChange)="formatSelectedDates()"
        (onSelect)="formatSelectedDates()"
        -->
        <div class="flex align-items-center gap-3 mb-3" *ngIf="consultavacaciones.length > 0">
          
          <h2 *ngIf="vacacionesPeriodo.length > 0">Dias Restantes: {{DiasRestantes}}</h2>
          <label for="periodos">Selecciona un Periodo: </label>
          <p-selectButton 
          id="periodos"
                [options]="PeriodosPrueba"
                [(ngModel)]="opcionSeleccionada"
                optionLabel="label" 
        optionValue="value" 
        (onOptionClick)="obtenerVacacion(opcionSeleccionada)"
        [disabled]="desactivarPeriodos"
                />

        
          <!--<div style="width: 30%; height: 30%; text-align: center;">
            <label for="Periodo"> Periodos:  </label>
            <p-dropdown
            id="Periodo"
            [virtualScroll]="true"
            [virtualScrollItemSize]="38"  
            [options]="Periodos" 
            [(ngModel)]="opcionSeleccionada"
            placeholder="Selecciona un Periodo"/>
          </div>-->
        
        </div>

      
    </div>

    
    <div class="card flex justify-content-center">
      <label for="fechas">Fechas Seleccionadas: </label>
      <input 
          id="fechas"
          type="text"
          pInputText 
          [disabled]="true"
          [value]="formattedDates"
          />

  </div>
  
    <div class="flex align-items-center gap-3 mb-5">
      <label for="comentario">Comentarios: </label>
      <input [(ngModel)]="comentarios" type="text" pInputText id="comentario" />
    </div>
    <div class="flex justify-content-end gap-2">
      <p-button label="Agregar" (onClick)="OnSubmit()"/>
    </div>
  
</p-dialog>

<!--<form [formGroup]="vacacionForm" (ngSubmit)="OnSubmit()"></form>-->
