<app-header></app-header>
<br/>


<mat-card class="matcard">
  <h1>Agregar Empleado</h1>
  <mat-card-header class="matcardheader">
    
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
      <mat-accordion>
  
        <!-- Información Personal -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Información Personal
            </mat-panel-title>
          </mat-expansion-panel-header>
  
          <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="Nombre">
          </mat-form-field>
          
          <mat-form-field appearance="fill">
            <mat-label>Apellidos</mat-label>
            <input matInput formControlName="Apellidos">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Sexo</mat-label>
            <mat-select formControlName="Sexo">
                <mat-option *ngFor="let val of sexo" [value]="val">{{val}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Estado Civil</mat-label>
          <mat-select formControlName="EstadoCivil">
              <mat-option *ngFor="let val of estadocivil" [value]="val">{{val}}
              </mat-option>
          </mat-select>
      </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input matInput [matDatepicker]="pickerfechanacimiento" formControlName="FechaNacimiento">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="pickerfechanacimiento"></mat-datepicker-toggle>
            <mat-datepicker #pickerfechanacimiento></mat-datepicker>
          </mat-form-field>  

          <mat-form-field appearance="fill">
            <mat-label>Entidad de Nacimiento</mat-label>
            <mat-select formControlName="EntidadNacimiento">
              <mat-option *ngFor="let val of estados" [value]="val">{{val}}</mat-option>
          </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Ciudad de Nacimiento</mat-label>
            <mat-select formControlName="CiudadNacimiento">
              <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad">{{ ciudad }}</mat-option>
            </mat-select>
          </mat-form-field>

          <!--<mat-form-field appearance="fill">
            <mat-label>CiudadNacimiento</mat-label>
            <input matInput formControlName="ciudadnacimiento">
          </mat-form-field>-->


          <mat-form-field appearance="fill" hintLabel="Max 18 characters">
            <mat-label>CURP</mat-label>
            <input matInput formControlName="CURP" #inputcurp maxlength="18">
            <mat-hint align="end">{{inputcurp.value.length}}/18</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="fill" hintLabel="Max 13 characters" >
            <mat-label>RFC</mat-label>
            <input matInput formControlName="RFC" #inputrfc maxlength="13">
            <mat-hint align="end">{{inputrfc.value.length}}/13</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="fill" hintLabel="Max 11 characters">
            <mat-label>NSS</mat-label>
            <input matInput formControlName="NSS" #inputnss maxlength="11">
            <mat-hint align="end">{{inputnss.value.length}}/11</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>UMF</mat-label>
            <input matInput formControlName="UMF" #inputumf maxlength="3">
            <mat-hint align="end">{{inputumf.value.length}}/3</mat-hint>
          </mat-form-field>

          <!-- Agrega más campos aquí -->
  
        </mat-expansion-panel>
  
        <!-- Información Laboral -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Información Laboral
            </mat-panel-title>
          </mat-expansion-panel-header>
  
          <mat-form-field appearance="fill">
            <mat-label>No.Nomina</mat-label>
            <input matInput formControlName="NoNomina">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Nivel</mat-label>
            <input matInput formControlName="Nivel">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Departamento</mat-label>
            <mat-select formControlName="departamento">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let value of departamentos" [value]="value">{{ value.NombreDepartamento }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Puesto</mat-label>
            <input matInput formControlName="NombrePuesto">
          </mat-form-field>



          <!--<mat-form-field appearance="fill">
            <mat-label>Responsable</mat-label>
            <input matInput formControlName="responsable">
          </mat-form-field>-->

          <mat-form-field appearance="fill">
            <mat-label>TipoIngreso</mat-label>
            <mat-select formControlName="TipoIngreso">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let value of tipoingreso" [value]="value">{{ value }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Fecha de Ingreso</mat-label>
            <input matInput [matDatepicker]="pickeringreso" formControlName="Ingreso">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="pickeringreso"></mat-datepicker-toggle>
            <mat-datepicker #pickeringreso></mat-datepicker>
          </mat-form-field>  

         
          <mat-form-field appearance="fill">
            <mat-label>HorarioSemanal</mat-label>
            <mat-select formControlName="HorarioSemanal">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let value of horariosemanal" [value]="value">{{ value }}</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Agrega más campos aquí -->
  
        </mat-expansion-panel>
  
        <!-- Domicilio -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Domicilio
            </mat-panel-title>

          </mat-expansion-panel-header>
          <mat-form-field appearance="fill">
            <mat-label>Domicilio INE</mat-label>
            <input matInput formControlName="DomicilioIne">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Poblacion</mat-label>
            <input matInput formControlName="Poblacion">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Entidad Direccion</mat-label>
            <mat-select formControlName="EntidadDireccion">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let value of estados1" [value]="value">{{ value }}</mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field appearance="fill">
            <mat-label>CP</mat-label>
            <input matInput formControlName="CP" #inputcp maxlength="5">
            <mat-hint align="end">{{inputcp.value.length}}/5</mat-hint>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Correo electrónico</mat-label>
            <input matInput formControlName="CorreoElectronico">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Numero Telefono 1</mat-label>
            <input matInput formControlName="NumeroTelefono1" placeholder="4771232312" #inputn1 maxlength="10">
            <mat-hint align="end">{{inputn1.value.length}}/10</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Numero Telefono 2</mat-label>
            <input matInput formControlName="NumeroTelefono2" placeholder="4771232312" #inputn2 maxlength="10">
            <mat-hint align="end">{{inputn2.value.length}}/10</mat-hint>
          </mat-form-field>

          <!-- Agrega más campos aquí -->
  
        </mat-expansion-panel>
  
        <!-- Contacto de Emergencia -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Contacto de Emergencia
            </mat-panel-title>
          </mat-expansion-panel-header>
  
          <mat-form-field appearance="fill">
            <mat-label>Nombre Beneficiario</mat-label>
            <input matInput formControlName="NombreBeneficiario">
          </mat-form-field>


          <mat-form-field appearance="fill">
            <mat-label>Parentesco</mat-label>
            <mat-select formControlName="Parentesco">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let value of parentesco" [value]="value">{{ value }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Fecha Nacimiento Beneficiario</mat-label>
            <input matInput [matDatepicker]="pickerfechanacimientobeneficiario" formControlName="FechaNacimientoBeneficiario">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="pickerfechanacimientobeneficiario"></mat-datepicker-toggle>
            <mat-datepicker #pickerfechanacimientobeneficiario></mat-datepicker>
          </mat-form-field>  

          <mat-form-field appearance="fill">
            <mat-label>Numero Telefono Emergencia</mat-label>
            <input matInput formControlName="NumeroTelefonoEmergencia" placeholder="4771232312" #inputn3 maxlength="10">
            <mat-hint align="end">{{inputn3.value.length}}/10</mat-hint>
          </mat-form-field>
          <!-- Agrega más campos aquí -->
  
        </mat-expansion-panel>
  
      </mat-accordion>
  
      <button mat-raised-button color="primary" type="submit">Guardar</button>
       <!--Le quite aqui lo del darle click-->
    </form>
  </mat-card-header>

  </mat-card>
  

  <!-- <mat-form-field appearance="outline">
                <mat-label>Horario Semanal</mat-label>
                <mat-select formControlName="HorarioSemanal">
                    <mat-option *ngFor="let val of horariosemanal" [value]="val">{{val}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
          
          
          
          <mat-form-field appearance="fill">
            <mat-label>Sexo</mat-label>
            <input matInput formControlName="sexo">
          </mat-form-field>
          -->