body{
height: 900px;
  background-image: url("https://www.quesossnroque.com/img/bg.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed;
}