<p-toast />
<p-confirmDialog />


<button mat-flat-button color="primary" [routerLink]="['/system/users']" style="margin: 20px;"> <i class="pi pi-arrow-left" style="font-size: 1.5rem"></i>Regresar a Usuarios</button>

<h2 class="form-title">Roles de Usuario <i class="pi pi-address-book" style="font-size: 2rem"></i> </h2>

<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">list</mat-icon>
      Roles
    </ng-template>

    <div class="card">
      <p-table 
      [paginator]="true"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 20]"
      [value]="roles" 
      [tableStyle]="{'min-width': '50rem'}"
      >
          <ng-template pTemplate="header" let-columns>
              <tr>
                <th></th>
                  <th style="width: 30%;">Nombre Role</th>
                  <th style="width: 30%;">Descripcion Role</th>
                  <th style="width: 30%;">Acciones</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-role let-columns="columns">
              <tr>
                <td></td>
                  <td>
                      {{role.NombreRole}}
                  </td>
                  <td>
                      {{role.DescripcionRole}}
                  </td>
                  <td>
                  <p-button 
                     
                        icon="pi pi-pen-to-square" 
                        class="mr-2" 
                        [rounded]="true" 
                        [outlined]="true" 
                        severity="success" 
                        (onClick)="editar(role.IdRole)"
                        />
                        
                    <p-button 
                        icon="pi pi-trash" 
                        severity="danger" 
                        [rounded]="true" 
                        [outlined]="true" 
                        (onClick)="eliminar(role.IdRole)"
                         />
                        
                </td>
                 
              </tr>
          </ng-template>
      </p-table>
    </div>
    
    


  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">enhanced_encryption</mat-icon>
      Agregar Nuevo Rol
    </ng-template>
    <div class="container-form">
      <h2 class="form-title">Crear Nuevo Rol <i class="pi pi-address-book" style="font-size: 2rem"></i> </h2>
    
      <div class="form-fields">
        <mat-form-field appearance="fill" class="form-input">
          <mat-label>Nombre Del Rol * </mat-label>
          <input matInput [(ngModel)]="NombreRole">
        </mat-form-field>
    
    
        <mat-form-field appearance="fill" class="form-input">
          <mat-label>Descripción del Rol * </mat-label>
          <input matInput  [(ngModel)]="DescripcionRole">
        </mat-form-field>
    
      </div>
  
      <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Permisos de Rol
              </mat-panel-title>
              <mat-panel-description>
  
  <p>Permisos de Rol</p>
  
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="container">
  
              <!---TALENTO HUMANO-->
              <div class="division" >
                <div class="titulo">
                  <p-checkbox 
                  [(ngModel)]="checkTalentoHumano"
                  [binary]="true" 
                  [label]="'Talento Humano'"
                  name="group"
                  (onChange)="nodoTH()"
                  />
              </div>
              <div *ngFor="let category of talentoHumano" class="field-checkbox" style="margin-left: 30%;">
                  <p-checkbox 
                  (onChange)="seleccion()"
                      [(ngModel)]="selectedtalentoHumano"
                      [label]="category.name"
                      name="group"
                      [value]="category" />
              </div>
              </div>
  
  
  
              <div class="division" >
                <!---CAPACITACIONES-->
                <div class="titulo">
                  <p-checkbox 
                  [(ngModel)]="checkCapacitaciones"
                  [binary]="true" 
                  [label]="'Capacitaciones'"
                  name="group"
                  (onChange)="nodoCapacitaciones()"
                  />
                </div>
                <div *ngFor="let category of capacitaciones" class="field-checkbox" style="margin-left: 30%;">
                  <p-checkbox 
                  (onChange)="seleccion()"
                      [(ngModel)]="selectedCapacitaciones"
                      [label]="category.name"
                      name="group"
                      [value]="category" />
                </div>
                
                </div>
  
    <div class="division">
  <!---CATALOGOS-->
  <div class="titulo">
    <p-checkbox 
    [(ngModel)]="checkCatalogo"
    [binary]="true" 
    [label]="'Catalogo'"
    name="group"
    (onChange)="nodoCatalogo()"
    />
  </div>
  <div *ngFor="let category of catalogos" class="field-checkbox" style="margin-left: 30%;">
    <p-checkbox 
    (onChange)="seleccion()"
        [(ngModel)]="selectedCatalogo"
        [label]="category.name"
        name="group"
        [value]="category" />
  </div>
                </div>
  
  
                <div class="division" >
  <!---Reportes-->
  <div class="titulo">
    <p-checkbox 
    [(ngModel)]="checkReporte"
    [binary]="true" 
    [label]="'Reportes'"
    name="group"
    (onChange)="nodoReportes()"
    />
  </div>
  <div *ngFor="let category of reportes" class="field-checkbox" style="margin-left: 30%;">
    <p-checkbox 
    (onChange)="seleccion()"
        [(ngModel)]="selectedReporte"
        [label]="category.name"
        name="group"
        [value]="category" />
  </div>
  
  
                </div>


                <div class="division" >
                  <!---Normativa-->
                  <div class="titulo">
                    <p-checkbox 
                    [(ngModel)]="checkNormativa"
                    [binary]="true" 
                    [label]="'Normativa'"
                    name="group"
                    (onChange)="nodeNormativa()"
                    />
                  </div>
                  <div *ngFor="let category of normativas" class="field-checkbox" style="margin-left: 30%;">
                    <p-checkbox 
                    (onChange)="seleccion()"
                        [(ngModel)]="selectedNormativa"
                        [label]="category.name"
                        name="group"
                        [value]="category" />
                  </div>
                  
                  
                                </div>
  
  
  
  
            </div>
  
  
  
  
          </mat-expansion-panel>
        </mat-accordion>
        <div class="button">
          <button mat-flat-button color="primary" (click)="agregar()" style="margin: 20px;"> <i class="pi pi-save" style="font-size: 1.5rem"></i>Agregar Rol</button>
        </div>
  
  
      
    </div>



  </mat-tab>

</mat-tab-group>


