
<!--
<div class="card flex justify-content-center">
<p-dialog 
header="Header" 
[modal]="true"
[(visible)]="visible" 
[style]="{ width: '50rem' }" 
[breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
<ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center gap-2">
        <h1>Agregar Nueva Capacitacón</h1>
    </div>
    </ng-template>

    <ng-template pTemplate="Content">
        
        <div class="formgrid grid">
            <div class="field col">

                <mat-form-field appearance="fill" color="primary">
                    <mat-label>Origen</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let val of orig" [value]="val">{{val}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            
                
                <p-floatLabel>
                    <input pInputText id="username" />
                    <label for="username">Nombre Capacitacion</label>
                </p-floatLabel>

                
                <p-dropdown
                [options]="origenes" 
                [(ngModel)]="selectedOrigen"
                optionLabel="label"
                placeholder="Selecciona un origen"
                size>
              </p-dropdown>


              <p-dropdown 
              [options]="frecuencias" 
              [(ngModel)]="selectedFrecuencia"
              optionLabel="label"
              placeholder="Selecciona una Frecuencia">
            </p-dropdown>
            <br>

            
        <div class="card flex justify-content-center">
<p-floatLabel>
    <p-calendar 
        inputId="birth_date" />
    <label for="birth_date">Fecha Inicio</label>
</p-floatLabel>
        </div>

        <div class="card flex justify-content-center">
            <p-floatLabel>
                <p-calendar 
                    inputId="fechaFin" />
                <label for="fechaFin">Fecha Fin</label>
            </p-floatLabel>
                    </div>


        </div>
            </div>

        </ng-template>

                <ng-template pTemplate="footer">
                    <p-button 
                        label="Cancel" 
                        [text]="true" 
                        severity="secondary" 
                        (onClick)="visible = false" />
                    <p-button 
                        label="Save" 
                        [outlined]="true" 
                        severity="secondary" 
                        (onClick)="visible = false" 
                      />
                </ng-template>
       
    
</p-dialog>
</div>-->
<!--<p-menubar [model]="items1" />-->
    


    
     <!---
<div class="card flex justify-content-center flex-wrap gap-3">
    <p-splitButton 
    label="Acciones" 
    [model]="items" 
    severity="info" />
</div>

<div style="text-align: right">

    <button class="agregar"
    mat-raised-button 
    color = "primary"
    (click)="agregar()"
    type="submit"><mat-icon>add_circle</mat-icon>Agregar Nueva Capacitacion Catalogo
    </button>
</div>
--->
<p-card>
    <div style="text-align: left">
        <button [routerLink]="['/system/programarcapacitaciones']" class="agregar"
    mat-raised-button 
    color = "primary"
    type="submit"><mat-icon>add_circle</mat-icon>Programar Nueva Capacitación
    </button>
    </div>
</p-card>
<p-card>
    <div class="container">

        <div class="box1">
        <div class="col flex align-items-center justify-content-center">
            <div id="calendar-container" class="full-calendar-md">
              <full-calendar [options]="calendarOptions"></full-calendar>
            </div>
          </div>
        </div>
        <div class="box2">
            <h1>Descripción de la Capacitación</h1>
            
<ng-container *ngIf="programacionConsulta.length > 0">

    <button *ngIf="!eval && !verificacion"
    class="agregarempleado"
    mat-raised-button 
    color = "primary"
    (click)="asignar()"
    ><mat-icon>add_circle</mat-icon>Agregar Cursantes
    </button>

    <button class="agregar"
    mat-raised-button
    color = "secondary" (click)="consultar()"
    ><mat-icon>assignment_ind</mat-icon>Consultar/Actualizar
    </button>

    <!--<button class="eliminarProgramacion" -->
    <button class="eliminarProgramacion" *ngIf="!eval && !verificacion"
    mat-raised-button (click)="eliminarprogramacion(programacionConsulta[0].IdProgramacionFecha)"
    ><mat-icon>cancel</mat-icon>Cancelar
    </button>

    
    <button class="consultarCalificaciones"
    mat-raised-button (click)="calificacionesMostrar()" *ngIf="eval && !verificacion"
    ><mat-icon>assignment</mat-icon>Calificaciones
    </button>

    <button class="consultarCalificaciones"
    mat-raised-button *ngIf="verificacion"
    ><mat-icon>assignment</mat-icon>Asistencia
    </button>

    <button *ngIf="!eval && !verificacion"
    class="agregarempleado"
    mat-raised-button 
    style="background-color: cadetblue;"
    (click)="editarCapacitacion()"
    ><mat-icon>edit</mat-icon>Editar Capacitacion
    </button>
    

    <mat-card class="employee-card">
      <mat-card-header>
        <mat-card-title [ngStyle]="{'color': programacionConsulta[0].Color}">{{'Capacitacion: '+ programacionConsulta[0].NombreCapacitacion}}</mat-card-title>
        <mat-card-subtitle *ngIf="programacionConsulta[0].Fecha != null">Fecha Capacitacion</mat-card-subtitle>
        <mat-card-subtitle *ngIf="programacionConsulta[0].Fecha != null">{{getFechaConDiaAdicional(programacionConsulta[0].Fecha)| date: 'dd/MM/yyyy'}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="programacionConsulta[0].FechaFin != null && programacionConsulta[0].FechaInicio!=null">Fecha Inicio</mat-card-subtitle>
        <mat-card-subtitle *ngIf="programacionConsulta[0].FechaFin != null && programacionConsulta[0].FechaInicio!=null">{{getFechaConDiaAdicional(programacionConsulta[0].FechaInicio)| date: 'dd/MM/yyyy'}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="programacionConsulta[0].FechaFin != null && programacionConsulta[0].FechaInicio!=null">Fecha Fin</mat-card-subtitle>
        <mat-card-subtitle *ngIf="programacionConsulta[0].FechaFin != null && programacionConsulta[0].FechaInicio!=null">{{getFechaConDiaAdicional(programacionConsulta[0].FechaFin)| date: 'dd/MM/yyyy'}}</mat-card-subtitle>
    
        <mat-card-content>
            <p>
                {{'Persona Imparte: '+ programacionConsulta[0].PersonaImparte}}
            </p>
            
            <!--<p-checkbox 
            [(ngModel)]="checked" 
            [binary]="true" 
            inputId="binary" />-->
            <p *ngIf="!eval">
                Estado: Abierto
            </p>
            <p *ngIf="eval">
                Estado: Cerrado
            </p>
            <p *ngIf="programacionConsulta[0].FechaFin == null && programacionConsulta[0].HoraInicio!=null">
                {{'Hora Inicio: '+ convertirFechaATiempo(programacionConsulta[0].HoraInicio)}}
            </p>
            <p *ngIf="programacionConsulta[0].FechaFin == null && programacionConsulta[0].HoraInicio!=null">
                {{'Hora Fin: '+ convertirFechaATiempo(programacionConsulta[0].HoraFin)}}
            </p>
          </mat-card-content>
      </mat-card-header>
    </mat-card>

    
    
    <div *ngIf=consulta>
<div class="card">
    <p-table 
    #dt 
    [columns]="cols" [value]="capacitacionessuscripciones" 
    [exportHeader]="'customExportHeader'"
    [globalFilterFields]="['NoNomina','Nombre' ,'Apellidos','NombreDepartamento', 'Puesto'
    ]"
    [resizableColumns]="true" 
    [scrollable]="true" 
    scrollHeight="350px" 
    [tableStyle]="{ 'min-width': '50rem' }">

    <ng-template pTemplate="caption">
       <!-- <div style="text-align: left">
            <p-button 
                icon="pi pi-external-link" 
                label="Export" 
                (click)="dt.exportCSV()" />
        </div>-->
        <div style="text-align: left">
        <input 
        pInputText 
        type="text" 
        (input)="filterGlobal($event)" 
        placeholder="Buscar" />
    </div>
    </ng-template>
        <ng-template pTemplate="header" let-columns>

            <tr>
            <th *ngIf="eval">Asistio</th>
            <th>NoNomina</th>
            <th>Nombre</th>
            <th>NombrePuesto</th>
            <th>NombreDepartamento</th>
            <th *ngIf="eval && !verificacion">Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-empleado>
            <tr>
                <td *ngIf="eval" > 
                    <p-checkbox 
                    [(ngModel)]="empleado.Asistencia" 
                    [binary]="true" 
                    variant="filled"
                    (onChange)="Asistencia(empleado.NoNomina)"
                    />
                    <!--[disabled]="empleado.Asistencia"-->

                </td>
                <td>{{empleado.NoNomina}}</td>
                <td>{{empleado.Nombre + ' ' +empleado.Apellidos}}</td>
                <td>{{empleado.NombrePuesto}}</td>
                <td>{{empleado.NombreDepartamento}}</td>
                <td>
                    <p-button *ngIf="eval && !verificacion"
                    pRipple 
                    icon="pi pi-clipboard" 
                    label="Evlr"
                    [rounded]="true" 
                    [outlined]="true"  (onClick)="evaluar(empleado.NoNomina, empleado.Evaluado)" [disabled]="!empleado.Asistencia"/>

                    <p-button 
                    *ngIf="!eval"
                        pRipple 
                        icon="pi pi-ban" 
                        severity="danger" 
                        [rounded]="true" 
                        [outlined]="true"  (onClick)="eliminar(empleado.IdSuscripcionCapacitacion)" [disabled]="empleado.Evaluado"/>
                       
                </td>
                    
                
            </tr>
        </ng-template>
    </p-table>
</div>
            </div>


<!---Mostrar Calificaciones -->
            <div *ngIf=mostrarcalificaciones>
                <div class="card">
                    
                    <p-table 
                    #dt 
                    styleClass="p-datatable-striped"    
                    [columns]="cols" [value]="calificaciones" 
                    [exportHeader]="'customExportHeader'"
                    [globalFilterFields]="['NoNomina','Nombre' ,'Apellidos','NombreDepartamento', 'Puesto'
                    ]"
                    [resizableColumns]="true" 
                    [scrollable]="true" 
                    scrollHeight="400px" 
                    [tableStyle]="{ 'min-width': '50rem' }">
                
                    <ng-template pTemplate="caption">
                        
                        <div style="text-align: left">
                            <p-button 
                                icon="pi pi-external-link" 
                                label="Export" 
                                (click)="dt.exportCSV()" />
                        </div>
                
                        <div style="text-align: left">
                        <input 
                        pInputText 
                        type="text" 
                        (input)="filterGlobal($event)" 
                        placeholder="Buscar" />
                    </div>
                    </ng-template>
                
                    
                    
                        <ng-template pTemplate="header" let-columns>
                
                            <tr>
                            <th style="width:10%">NoNomina</th>
                            <th style="width:10%" >Nombre</th>
                            <th style="width:10%">NombrePuesto</th>
                            <th style="width:10%">NombreDepartamento</th>
                            <th style="width:10%">Calificacion</th>
                            <th style="width:10%">Estatus</th>
                            <th style="width:10%">Comentario</th>
                            </tr>

                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th><p-columnFilter type="boolean" field="Estatus" /></th>
                            </tr>
                            
                                    
                                
                        </ng-template>
                        <ng-template pTemplate="body" let-calificacion>
                            <tr>
                                <td>{{calificacion.NoNomina}}</td>
                                <td>{{calificacion.Nombre + ' '+calificacion.Apellidos}}</td>
                                <td>{{calificacion.NombrePuesto}}</td>
                                <td>{{calificacion.NombreDepartamento}}</td>
                                <td>{{calificacion.Calificacion}}</td>
                                <td>

                                    <i class="pi" [ngClass]="{ 'text-green-500 pi-check-circle': calificacion.Estatus, 'text-red-500 pi-times-circle': !calificacion.Estatus }"></i>
                                </td>
                                <td>{{calificacion.Comentario}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                            </div>
  </ng-container>


  <ng-container *ngIf="programacionConsulta.length <= 0">
    <mat-accordion *ngIf="capacitacionesprogramadas.length > 0;">
        <mat-expansion-panel *ngFor="let capacitacion of capacitacionesprogramadas">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ capacitacion.NombreCapacitacion }}
            </mat-panel-title>
            <mat-panel-description>
              Fecha: {{ capacitacion.FechaInicio | date }} - {{ capacitacion.FechaFin | date }}
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <p><strong>Descripción:</strong> {{ capacitacion.PersonaImparte }}</p>
          <!-- Añade más detalles de la capacitación aquí -->
      
        </mat-expansion-panel>
      </mat-accordion>
  

  </ng-container>




  <p-dialog 
        [(visible)]="productDialog" 
        [style]="{ width: '450px' }" 
        header="Asignar Empleados" 
        [modal]="true" 
        [resizable]="false"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
        [style]="{ width: '50vw' }" 
        [draggable]="false" 
        styleClass="p-fluid">

            <ng-template pTemplate="content">
                <div style="text-align: right">
                    <input 
                    pInputText 
                    type="text" 
                    (input)="filterGlobalEmpleado($event)" 
                    placeholder="Buscar" />
                </div>
               
            
                <div class="field">
                    <p-table 
                    #dtE
                    [globalFilterFields]="['NoNomina','Nombre' ,'Apellidos','NombreDepartamento', 'Puesto'
    ]"
    [scrollable]="true" 
    scrollHeight= "300px"
        [value]="sourceEmpleados" 
        [(selection)]="targetEmpleados" 
        dataKey="NoNomina" 
        [tableStyle]="{'min-width': '50rem'}"
        >
            <ng-template pTemplate="header">
                

                <tr>
                    <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
                    <th>NoNomina</th>
                    <th>Nombre</th>
                    <th>NombrePuesto</th>
                    <th>NombreDepartamento</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-empleado>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="empleado" />
                    </td>
                    <td>{{empleado.NoNomina}}</td>
                    <td>{{empleado.Nombre + ' '+empleado.Apellidos}}</td>
                    <td>{{empleado.NombrePuesto}}</td>
                    <td>{{empleado.NombreDepartamento}}</td>
                </tr>
            </ng-template>
    </p-table>


                   <!-- <p-pickList 
        [source]="sourceEmpleados" 
        [target]="targetEmpleados" 
        sourceHeader="Empleados" 
        targetHeader="Seleccionados" 
        [dragdrop]="true" 
        [responsive]="true" 
        [sourceStyle]="{ height: '30rem' }"
        [targetStyle]="{ height: '30rem' }" 
        filterBy="NoNomina"
        sourceFilterPlaceholder="Buscar por NoNomina" 
        targetFilterPlaceholder="Buscar por NoNomina" 
        breakpoint="1400px">
            <ng-template let-empleado pTemplate="item">
                <div class="flex flex-wrap p-2 align-items-center gap-3">
                    
                    <span class="font-bold text-900">
                        {{ 'N.Nomina: '+ empleado.NoNomina}}
                    </span>
                    
                    <div class="flex-1 flex flex-column gap-2">
                        <span class="font-bold">
                            {{ empleado.Apellidos+' ' +empleado.Nombre}}
                        </span>
                        <div class="flex align-products-center gap-2">
                            <i class="pi pi-tag text-sm"></i>
                            <span>
                                {{ empleado.NombrePuesto }}
                            </span>
                        </div>
                        <span class="font-bold">
                            {{ empleado.NombreDepartamento}}
                        </span>
                    </div>
                </div>
            </ng-template>
    </p-pickList>-->

                </div>
                <div class="field">

                </div>

                <div class="field">
                    
                    
                </div>

                <div class="field">
                        
                        
                </div>

                <div class="formgrid grid">
                   
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <p-button 
                    pRipple 
                    label="Agregar" 
                    icon="pi pi-check" 
                    [text]="true" 
                    (click)="saveAsignacion()" />
                <p-button 
                    pRipple 
                    label="Cancelar" 
                    icon="pi pi-times" 
                    [text]="true" 
                    (click)="hideDialog()" />


                
            </ng-template>
    </p-dialog>


    <p-dialog 
        [(visible)]="WEvaluar" 
        [style]="{ width: '450px' }" 
        header="Evaluar Empleado "
        [modal]="true" 
        [resizable]="false"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
        [style]="{ width: '50vw' }" 
        [draggable]="false" 
        styleClass="p-fluid">
            <ng-template pTemplate="content">
                
                <div class="field">
                    <label for="minmax-buttons"> Calificación </label>
                    <p-inputNumber 
                    [(ngModel)]="calificacionEmpleado"
                    inputId="minmax-buttons" 
                    [showButtons]="true" 
                    mode="decimal"  
                    [maxFractionDigits]="2" 
                    [min]="0" 
    [max]="10"
    /> 


                </div>
                <div class="field">
                    <br>
                    
                    <label for="float-input">Comentarios (Opcional)</label>
        
        <textarea 
        id="float-input"
        rows="1"
        cols="10"
        pInputTextarea 
        [(ngModel)]="comentario"
        [autoResize]="true">
    </textarea>
    

   

                </div>

                <div class="field">
                    
                    
                </div>

                <div class="field">
                        
                        
                </div>

                <div class="formgrid grid">
                   
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <p-button 
                    pRipple 
                    label="Evaluar" 
                    icon="pi pi-check" 
                    [text]="true" 
                    (onClick)="evaluarEmpleado()"
                     />
                <p-button 
                    pRipple 
                    label="Cancelar" 
                    icon="pi pi-times" 
                    [text]="true" 
                    (click)="hideDialog()" />
                
            </ng-template>
    </p-dialog>
  
  <!--

  <div *ngFor="let empleado of sourceEmpleados">
<h2>Nombre: {{empleado.Nombre}} {{ empleado.Apellidos}}</h2>
</div>

  <p-pickList 
        [source]="sourceEmpleados" 
        [target]="targetEmpleados" 
        sourceHeader="Empleados" 
        targetHeader="Seleccionados" 
        [dragdrop]="true" 
        [responsive]="true" 
        [sourceStyle]="{ height: '30rem' }"
        [targetStyle]="{ height: '30rem' }" 
        filterBy="NoNomina"
        sourceFilterPlaceholder="Buscar por NoNomina" 
        targetFilterPlaceholder="Buscar por NoNomina" 
        breakpoint="1400px">
            <ng-template let-empleado pTemplate="item">
                <div class="flex flex-wrap p-2 align-items-center gap-3">
                    
                    <span class="font-bold text-900">
                        {{ 'N.Nomina: '+ empleado.NoNomina}}
                    </span>
                    
                    <div class="flex-1 flex flex-column gap-2">
                        <span class="font-bold">
                            {{ empleado.Apellidos+' ' +empleado.Nombre}}
                        </span>
                        <div class="flex align-products-center gap-2">
                            <i class="pi pi-tag text-sm"></i>
                            <span>
                                {{ empleado.NombrePuesto }}
                            </span>
                        </div>
                        <span class="font-bold">
                            {{ empleado.NombreDepartamento}}
                        </span>
                    </div>
                </div>
            </ng-template>
    </p-pickList>
  
-->

        </div>
</div>
</p-card>

<p-toast />

<p-confirmDialog [style]="{ width: '450px' }" />
