.container{
  display: flex;
  justify-content: space-between;
}
.title {
  color: rgb(52, 104, 163);
  text-align: center;
  padding-top: 15px;
}


.box1, .box2{
  width: 48%;
  padding: 2px;
}

#calendar-container {
  width: 100%;
  height: 100%;
}

.full-calendar-sm {
  max-width: 600px;
  height: 400px;
}

.full-calendar-md {
  max-width: 800px;
  height: 600px;
}

.full-calendar-lg {
  max-width: 1000px;
  height: 800px;
}

.fc-event {
  font-size: 0.1em;
}

.fc-event-title {
  font-size: 0.1em;
}

.fc-event-time {
  font-size: 0.1em;
}

  
.agregarempleado{
  background-color: mediumslateblue;
}

.eliminarProgramacion{
  background-color: firebrick;
}
.consultarCalificaciones{
  background-color: rgb(34, 164, 178);
  color: white;
}
.cerrarCapacitacion{
  background-color: rgb(34, 106, 178);
  color: white;
}
:host ::ng-deep .p-dialog {
  width: 150px;
  margin: 0 auto 2rem auto;
  display: block;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Coloca los divs uno debajo del otro en pantallas pequeñas */
  }

  .box1, .box2 {
    padding-top: 10px;
    width: 100%; /* Los divs ocupan el ancho completo en pantallas pequeñas */
  }
}
