

<!--
<button 
    mat-raised-button 
    color = "primary"
    (click)="agregarDepartamento()"
    type="submit">Agregar Departamento
    </button>


<mat-card class="matcard">
    <mat-card-header class="matcardheader">
<div class="card-header">
    

</div>
<app-datos></app-datos>
</mat-card-header>
</mat-card>


-->
<app-datos></app-datos>
<!--
<button 
    mat-raised-button 
    color = "primary"
    (click)="agregarempleado()"
    type="submit">Agregar Registro
    </button>

<mat-card class="matcard">
    <mat-card-header class="matcardheader">
<div class="card-header">
    

</div>
<app-datos></app-datos>

</mat-card-header>
</mat-card>-->