
  

<h1>Datos de los Empleados</h1>
<!-- lista-empleados.component.html -->
  
<!-- lista-empleados.component.html -->
<div>
<table>
    <thead>
      <tr>
        <th>NumeroNomina</th>
        <th>NombreEmpleado</th>
        <th>NombreDepartamento</th>
        <th>NombrePuesto</th>
        <th>TipoIngreso</th>
        <th>Antiguedad</th>
        <th>HorarioSemanal</th>
        <th>EstadoEmpleado</th>
        <th>Ingreso</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empleado of empleados">
        <td>{{ empleado.NumeroNomina }}</td>
        <td>{{ empleado.NombreEmpleado }}</td>
        <td>{{ empleado.NombreDepartamento }}</td>
        <td>{{ empleado.NombrePuesto }}</td>
        <td>{{ empleado.TipoIngreso }}</td>
        <td>{{ empleado.Antiguedad}}</td>
        <td>{{ empleado.HorarioSemanal }}</td>
        <td>{{ empleado.EstadoEmpleado }}</td>
        <td>{{ empleado.Ingreso| date:'mediumDate' }}</td>
        
        <td>
            <button mat-button color="primary" (click)="editar()">Editar</button>
            <button mat-button color="warn" (click)="eliminar()">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div></div>
<!--
  <div>
    <button mat-flat-button color="accent" (click)="hola()">Guardar</button>
  </div>
  -->

