.table-container {
  padding: 15px;
  overflow-x: auto; /* Permite desplazamiento horizontal en dispositivos pequeños */
}

.mat-elevation-z8 {
  width: 100%;
}

table {
  width: 100%;
  min-width: 600px; /* Asegura un mínimo ancho para mantener la legibilidad */
}

th.mat-header-cell, td.mat-cell {
  white-space: nowrap; /* Evita el quiebre de texto en las celdas */
}

@media (max-width: 600px) {
  th.mat-header-cell, td.mat-cell {
    font-size: 12px; /* Ajusta el tamaño de fuente en dispositivos pequeños */
  }
}

  .Acciones{
    display: flex;
    gap: 5px;
  }

  .custom-header {
    background-color: #6DA5C0; /* Cambia esto al color que desees */
    color: white; /* Cambia esto al color del texto que desees */
  }

  .custom-headerInactive {
    background-color: #ba3bd0; /* Cambia esto al color que desees */
    color: white; /* Cambia esto al color del texto que desees */
  }


  mat-form-field {
    width: 100%;
  }
  
  @media (min-width: 600px) {
    mat-form-field {
      width: 30%;
      margin-right: 2%;
    }

  }
  
  button {
    width: 20%;
    display: flex;
    justify-content: center;

  }
  
  mat-card{
    background-color: aliceblue;

  }
  h2{
    color: #36b3a0;
    margin-top: 10px;
    padding: 10px;
  }
  h1{
    color: #005782;
    padding-top: 10px;
    padding-left: 20px;
  }
  mat-icon{
    color: black;
    padding-left: 10px;
    padding-top: 10px;
  }

  .edad-empleado {
    font-size: 16px;
    color: #3f51b5; /* Color accent de Angular Material */
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    display: flex;
  }

  .center{
    text-align: center;
  }