
   <mat-card class="container"> 
    <div class="form-section">
        <h2>Baja Empleado</h2>

<form [formGroup]="Form" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
            <!--<mat-form-field color="accent">
                <mat-label>NoNomina</mat-label>
                <input matInput type="number" formControlName="NoNomina">
            </mat-form-field>-->
           
        <div class="row">
            <p *ngIf="NoNomina !== null" class="NoNomina">NoNomina: {{ NoNomina }}</p>
            <mat-form-field appearance="fill" color="accent">
                <mat-label>Fecha Salida</mat-label>
                <input matInput [matDatepicker]="pickerFechaSalida" formControlName="FechaSalida">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="pickerFechaSalida"></mat-datepicker-toggle>
                <mat-datepicker #pickerFechaSalida></mat-datepicker>
              </mat-form-field>  

            <mat-form-field appearance="fill" color="accent">
                <mat-label>Tipo Baja</mat-label>
                <mat-select formControlName="TipoBaja">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let val of tipoBaja" [value]="val">{{val}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field color="accent">
                <mat-label>Finiquito</mat-label>
                <input matInput type="number" formControlName="Finiquito">
            </mat-form-field>

            <mat-form-field color="accent">
                <mat-label>Fondo De Ahorro</mat-label>
                <input matInput type="number" formControlName="FondoAhorro">
            </mat-form-field>
            
            <mat-form-field appearance="fill" color="accent">
                <mat-label>Motivo</mat-label>
                <mat-select formControlName="Motivo">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let val of motivo" [value]="val">{{val}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    <div class="row">
        

        <mat-checkbox formControlName="ProcesoDemanda">Proceso de Demanda</mat-checkbox>
      </div>

    <div class="row" *ngIf="procesoDemanda">
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Fecha Inicio</mat-label>
          <input matInput [matDatepicker]="pickerFechaInicio" formControlName="FechaInicio">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="pickerFechaInicio"></mat-datepicker-toggle>
          <mat-datepicker #pickerFechaInicio></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Fecha Fin</mat-label>
          <input matInput [matDatepicker]="pickerFechaFin" formControlName="FechaFin">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="pickerFechaFin"></mat-datepicker-toggle>
          <mat-datepicker #pickerFechaFin></mat-datepicker>
        </mat-form-field>
      </div>


    
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" color="accent" [mat-dialog-close]="false">Cancelar</button>
        <button mat-raised-button color="primary" type="submit">Dar Baja</button>
    </div>
    </div>
</form>
</div>
</mat-card>  